body, html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background: url('../images/todo-list.jpeg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  height: 50px;
  text-align: center;
  background-color: black;
  border-bottom: 1px solid rgba(110,110,110,0.5);
}

.resize-on-hover {
  :hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}
