@import "~bootstrap/scss/bootstrap";

body, html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

nav {
  height: 50px;
  text-align: center;
  background-color: black;
  border-bottom: 1px solid rgba(110,110,110,0.5);
}

.resize-on-hover {
  transition: transform .4s;

  :hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}
